<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="{{theme}}">

<nav>
    <a href="/profile">Profile</a> |
    <a href="/toggle-theme">Toggle Theme</a> |
    <a href="/logout">Logout</a>
</nav>

{{{body}}}

</body>
</html>